<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b266b3">  <td>23/12/29 16:35:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_get.executor_get()[pri:0, instance:API_package.testclass_get@13e344d]">executor_get</td> 
  <td>TestNG-test=Parallel_TestExecution-2@1381857776</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>23/12/29 16:35:33</td>   <td>7360</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_patch.Test_teardown()[pri:0, instance:API_package.testclass_patch@1ffaf86]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/29 16:35:33</td>   <td>7363</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_post.Test_teardown()[pri:0, instance:API_package.testclass_post@791f145a]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>23/12/29 16:35:31</td>   <td>5637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_put.executor_put()[pri:0, instance:API_package.testclass_put@6574a52c]">executor_put</td> 
  <td>TestNG-test=Parallel_TestExecution-1@1660451908</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/29 16:35:25</td>   <td>-230</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_post.Test_Setup()[pri:0, instance:API_package.testclass_post@791f145a]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>23/12/29 16:35:25</td>   <td>-133</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_put.Test_Setup()[pri:0, instance:API_package.testclass_put@6574a52c]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>23/12/29 16:35:24</td>   <td>-1547</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_get.Test_setup()[pri:0, instance:API_package.testclass_get@13e344d]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>23/12/29 16:35:33</td>   <td>7366</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_put.Test_teardown()[pri:0, instance:API_package.testclass_put@6574a52c]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>23/12/29 16:35:33</td>   <td>7357</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_get.Test_teardown()[pri:0, instance:API_package.testclass_get@13e344d]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/29 16:35:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_post.executor_post()[pri:0, instance:API_package.testclass_post@791f145a]">executor_post</td> 
  <td>TestNG-test=Parallel_TestExecution-1@1660451908</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>23/12/29 16:35:24</td>   <td>-1534</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_patch.Test_Setup()[pri:0, instance:API_package.testclass_patch@1ffaf86]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>23/12/29 16:35:29</td>   <td>4039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_patch.executor_patch()[pri:0, instance:API_package.testclass_patch@1ffaf86]">executor_patch</td> 
  <td>TestNG-test=Parallel_TestExecution-2@1381857776</td>   <td></td> </tr>
</table>
