<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="858383">  <td>23/12/26 20:15:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Data_driven_TestNG.Test_Setup()[pri:0, instance:API_package.Data_driven_TestNG@2e385cce]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/26 20:16:03</td>   <td>9113</td> <td>&nbsp;</td><td title="&lt;&lt;Data_driven_TestNG.Test_teardown()[pri:0, instance:API_package.Data_driven_TestNG@2e385cce]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/26 20:16:02</td>   <td>7538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_driven_TestNG.executor_post(java.lang.String,java.lang.String)[pri:0, instance:API_package.Data_driven_TestNG@2e385cce]">executor_post</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/26 20:16:02</td>   <td>7538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_driven_TestNG.executor_post(java.lang.String,java.lang.String)[pri:0, instance:API_package.Data_driven_TestNG@2e385cce]">executor_post</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>23/12/26 20:16:02</td>   <td>7538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_driven_TestNG.executor_post(java.lang.String,java.lang.String)[pri:0, instance:API_package.Data_driven_TestNG@2e385cce]">executor_post</td> 
  <td>main@697960108</td>   <td></td> </tr>
</table>
