<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bceaf">  <td>23/12/21 20:38:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_post.executor_post()[pri:0, instance:API_package.testclass_post@f09733f]">executor_post</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6afff2">  <td>23/12/21 20:38:54</td>   <td>-1233</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_get.Test_setup()[pri:0, instance:API_package.testclass_get@6c1a5b54]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6afff2">  <td>23/12/21 20:39:01</td>   <td>6444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_get.executor_get()[pri:0, instance:API_package.testclass_get@6c1a5b54]">executor_get</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="8bceaf">  <td>23/12/21 20:38:54</td>   <td>-1221</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_post.Test_Setup()[pri:0, instance:API_package.testclass_post@f09733f]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="8bceaf">  <td>23/12/21 20:39:02</td>   <td>7643</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_post.Test_teardown()[pri:0, instance:API_package.testclass_post@f09733f]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6afff2">  <td>23/12/21 20:39:02</td>   <td>7635</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_get.Test_teardown()[pri:0, instance:API_package.testclass_get@6c1a5b54]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
</table>
