<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>API_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a07e72">  <td>23/12/21 17:49:18</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_put.Test_Setup()[pri:0, instance:API_package.testclass_put@6c1a5b54]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>23/12/21 17:49:17</td>   <td>-99</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_post.Test_Setup()[pri:0, instance:API_package.testclass_post@38cee291]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>23/12/21 17:49:16</td>   <td>-1334</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_patch.Test_Setup()[pri:0, instance:API_package.testclass_patch@6574a52c]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>23/12/21 17:49:16</td>   <td>-1347</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_get.Test_setup()[pri:0, instance:API_package.testclass_get@1ffaf86]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>23/12/21 17:49:29</td>   <td>11504</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_get.Test_teardown()[pri:0, instance:API_package.testclass_get@1ffaf86]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="a07e72">  <td>23/12/21 17:49:29</td>   <td>11512</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_put.Test_teardown()[pri:0, instance:API_package.testclass_put@6c1a5b54]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>23/12/21 17:49:29</td>   <td>11509</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_post.Test_teardown()[pri:0, instance:API_package.testclass_post@38cee291]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>23/12/21 17:49:29</td>   <td>11507</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_patch.Test_teardown()[pri:0, instance:API_package.testclass_patch@6574a52c]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>23/12/21 17:49:24</td>   <td>6029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_get.executor_get()[pri:0, instance:API_package.testclass_get@1ffaf86]">executor_get</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>23/12/21 17:49:25</td>   <td>7259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_patch.executor_patch()[pri:0, instance:API_package.testclass_patch@6574a52c]">executor_patch</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>23/12/21 17:49:18</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_post.executor_post()[pri:0, instance:API_package.testclass_post@38cee291]">executor_post</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="a07e72">  <td>23/12/21 17:49:27</td>   <td>9300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_put.executor_put()[pri:0, instance:API_package.testclass_put@6c1a5b54]">executor_put</td> 
  <td>main@697960108</td>   <td></td> </tr>
</table>
