<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3a5e0">  <td>23/12/21 20:39:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_put.Test_Setup()[pri:0, instance:API_package.testclass_put@1cf6d1be]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="94b6ac">  <td>23/12/21 20:39:03</td>   <td>-113</td> <td>&nbsp;</td><td title="&gt;&gt;testclass_patch.Test_Setup()[pri:0, instance:API_package.testclass_patch@74e28667]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="94b6ac">  <td>23/12/21 20:39:08</td>   <td>4401</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_patch.Test_teardown()[pri:0, instance:API_package.testclass_patch@74e28667]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="d3a5e0">  <td>23/12/21 20:39:08</td>   <td>4405</td> <td>&nbsp;</td><td title="&lt;&lt;testclass_put.Test_teardown()[pri:0, instance:API_package.testclass_put@1cf6d1be]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="94b6ac">  <td>23/12/21 20:39:03</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_patch.executor_patch()[pri:0, instance:API_package.testclass_patch@74e28667]">executor_patch</td> 
  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="d3a5e0">  <td>23/12/21 20:39:05</td>   <td>2175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testclass_put.executor_put()[pri:0, instance:API_package.testclass_put@1cf6d1be]">executor_put</td> 
  <td>main@697960108</td>   <td></td> </tr>
</table>
