<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>API_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6cf3ea">  <td>23/12/28 17:52:57</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Data_driven_TestNG.Test_teardown()[pri:0, instance:TestNGfile_Testclass_Parameterisation.Data_driven_TestNG@1ffaf86]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>23/12/28 17:52:48</td>   <td>-8568</td> <td>&nbsp;</td><td title="&gt;&gt;Data_driven_TestNG.Test_Setup()[pri:0, instance:TestNGfile_Testclass_Parameterisation.Data_driven_TestNG@1ffaf86]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@697960108</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>23/12/28 17:52:48</td>   <td>-8482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_driven_TestNG.executor_post(java.lang.String,java.lang.String)[pri:0, instance:TestNGfile_Testclass_Parameterisation.Data_driven_TestNG@1ffaf86]">executor_post</td> 
  <td>main@697960108</td>   <td></td> </tr>
</table>
